
    body {
     background-color: #ffff99;
     font-family: 'Courier New', Courier, monospace;
     margin: 2em;
    }
     
    h1 {
     border: 3px solid #ff6600;
     color: #ff6600;
     padding: .5em;
     font-weight: bolder;
    }
     
     
    h2 {
     background-color: #ff6600;
     color: #ffff99;
     padding: .5em;
    }
     
    ol {
     background-color: #ffcc00;
     padding: .25em 2em;
     text-align: center;
    }
     
    li {
     
     padding: .5em;
     color: #ffff99;
    }
     
    p {
     border: 2px dotted #ff6600;
     padding: .5em;

    }
